.video {
  margin: auto;
  overflow: auto;
  width: 70%;
  border: 5px solid #474728;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.thumbnail {
  float: left;
  width: 400px;
  height: 250px;
  margin: 10px;
}

.avatar {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  float: left;
}

a{
  font-size: 20px;
  font-weight:bold;
  text-decoration: none;
  color: rgb(22, 141, 238);
}

button {
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(144, 230, 230);
}